.cb-subtitle {
    color: var(--cb-color-text-primary, #000);
  }
  
  .cb-subtitle--xs {
    font-size: var(--cb-font-size-subtitle--xs);
  }
  
  .cb-subtitle--md {
    font-size: var(--cb-font-size-subtitle--md);
  }
  
  .cb-subtitle--lg {
    font-size: var(--cb-font-size-subtitle--lg);
  }