/* src/index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--cb-color-surface-bg);
  /** add temporary width and height to see the theming. Remove after testing **/
  width: 100vw;
  height: 100vh;
}

ul {
  list-style: none;
}
